<%- include header %>
    <form method="post">
        title:
        <br/>
        <input type="text" name="title" value="<%= post.title%>" disabled/>
        <br/> 
        post:
        <br/>
        <textarea name="post" rows="20" cols="100"><%= post.post%></textarea>
        <br/>
        <input type="submit" value="post">
    </form>
<%- include footer %>